<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>测试报告</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/AdminLTE/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/skins/skin-blue.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
  <aside class="main-sidebar" style="padding-top:0">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">单元测试</li>
        <li><a href="#unittest_summary"><i class="fa fa-circle-o text-teal"></i> <span>测试情况</span></a></li>
        {% for suite in unitTest.suites %}
        <li><a href="#{{ suite.name }}"><i class="fa fa-circle-o {% if suite.passed %}text-green{% else %}text-red{% endif %}"></i> <span>{{ suite.name }}</span></a></li>
        {% endfor %}
        <li class="header">集成测试</li>
        <li><a href="#integrationtest_summary"><i class="fa fa-circle-o text-teal"></i> <span>测试情况</span></a></li>
        {% for suite in integrationTest.suites %}
        <li><a href="#{{ suite.name }}"><i class="fa fa-circle-o {% if suite.passed %}text-green{% else %}text-red{% endif %}"></i> <span>{{ suite.name }}</span></a></li>
        {% endfor %}
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1 id="unittest_summary">
        单元测试报告
        <small>生成时间：{{ generateAt|date('YYYY-MM-DD HH:mm:ss') }}</small>
      </h1>
    </section>
    <section class="content">

      <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">测试通过情况</h3>
            </div>
            <div class="box-body">
              <div id="chartUPassRate" style="height:250px"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">测试类型</h3>
            </div>
            <div class="box-body">
              <div id="chartUTestType" style="height:250px"></div>
            </div>
          </div>
        </div>
      </div>

      {% for suite in unitTest.suites %}
      <div class="box {% if suite.passed %}box-success{% else %}box-danger{% endif %} box-solid">
        <div class="box-header">
          <h3 class="box-title" id="{{ suite.name }}">{{ suite.FQN }}</h3>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody><tr>
              <th style="width:280px">ID</th>
              <th>被测函数</th>
              <th style="width:100px">类型</th>
              <th>描述</th>
              <th style="width:75px">耗时</th>
              <th style="width:70px">状态</th>
            </tr>
            {% for case in suite.cases %}
            <tr>
              <td><a href="{{ case.url }}" target="_blank">{{ case.id }}</a></td>
              <td><a href="{{ case.targetUrl }}" target="_blank">{{ case.signature }}</a></td>
              <td>{{ case.type }}</td>
              <td>{{ case.description }}</td>
              <td>{{ case.time }} 秒</td>
              <td>
                {% if case.passed %}
                  <span class="label label-success">通过</span>
                {% else %}
                  <span class="label label-danger">失败</span>
                {% endif %}
              </td>
            </tr>
            {% for bug in case.bugzilla %}
            <tr>
              <td><i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="badge bg-{{ BUGZILLA_STATUS_MAP[bug.status] }}">{{ bug.status }}</span> <a href="{{ bug.url }}" target="_blank">Bugzilla #{{ bug.id }}</a></td>
              <td colspan="5">{{ bug.summary }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody></table>
        </div>
      </div>
      {% endfor %}
    </section>



    <section class="content-header">
      <h1 id="integrationtest_summary">
        集成测试报告
        <small>生成时间：{{ generateAt|date('YYYY-MM-DD HH:mm:ss') }}</small>
      </h1>
    </section>
    <section class="content">

      <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">测试通过情况</h3>
            </div>
            <div class="box-body">
              <div id="chartIPassRate" style="height:250px"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">测试类型</h3>
            </div>
            <div class="box-body">
              <div id="chartITestType" style="height:250px"></div>
            </div>
          </div>
        </div>
      </div>

      {% for suite in integrationTest.suites %}
      <div class="box {% if suite.passed %}box-success{% else %}box-danger{% endif %} box-solid">
        <div class="box-header">
          <h3 class="box-title" id="{{ suite.name }}">{{ suite.FQN }}</h3>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody><tr>
              <th style="width:280px">ID</th>
              <th>所测接口</th>
              <th style="width:100px">类型</th>
              <th>描述</th>
              <th style="width:75px">耗时</th>
              <th style="width:70px">状态</th>
            </tr>
            {% for case in suite.cases %}
            <tr>
              <td><a href="{{ case.url }}" target="_blank">{{ case.id }}</a></td>
              <td>{{ case.target }}</td>
              <td>{{ case.type }}</td>
              <td>{{ case.description }}</td>
              <td>{{ case.time }} 秒</td>
              <td>
                {% if case.passed %}
                  <span class="label label-success">通过</span>
                {% else %}
                  <span class="label label-danger">失败</span>
                {% endif %}
              </td>
            </tr>
            {% for bug in case.bugzilla %}
            <tr>
              <td><i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="badge bg-{{ BUGZILLA_STATUS_MAP[bug.status] }}">{{ bug.status }}</span> <a href="{{ bug.url }}" target="_blank">Bugzilla #{{ bug.id }}</a></td>
              <td colspan="5">{{ bug.summary }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody></table>
        </div>
      </div>
      {% endfor %}
    </section>


  </div>
</div>

<script src="bower_components/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/AdminLTE/dist/js/app.min.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/highcharts/highcharts-more.js"></script>
<script src="bower_components/highcharts/highcharts-3d.js"></script>

<script>
$('#chartUPassRate').highcharts({
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    colors: ['#59D696', '#FF635A'],
    title: {
        text: ''
    },
    credits: {
        enabled: false,
    },
    plotOptions: {
        pie: {
            depth: 45
        }
    },
    series: [{
        name: '数量',
        data: {{ unitTest.stat.testcases|toPairs|json|safe }}
    }]
});

$('#chartUTestType').highcharts({
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: ''
    },
    credits: {
        enabled: false,
    },
    plotOptions: {
        pie: {
            depth: 45
        }
    },
    series: [{
        name: '数量',
        data: {{ unitTest.stat.types|toPairs|json|safe }}
    }]
});

$('#chartIPassRate').highcharts({
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    colors: ['#59D696', '#FF635A'],
    title: {
        text: ''
    },
    credits: {
        enabled: false,
    },
    plotOptions: {
        pie: {
            depth: 45
        }
    },
    series: [{
        name: '数量',
        data: {{ integrationTest.stat.testcases|toPairs|json|safe }}
    }]
});

$('#chartITestType').highcharts({
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: ''
    },
    credits: {
        enabled: false,
    },
    plotOptions: {
        pie: {
            depth: 45
        }
    },
    series: [{
        name: '数量',
        data: {{ integrationTest.stat.types|toPairs|json|safe }}
    }]
});
</script>

</body>
</html>
